<div class="jumbotron">
  <h1>Math Center Timer</h1>
</div>

<form>
  <div class="form-group">
    <label for="sessionLength">Length of Session (in minutes)</label>
    <input type="number"
           class="form-control"
           id="sessionLength"
           placeholder="12"
           ng-model="MainCtrl.session.length">
  </div>
  <div class="form-group">
    <label for="sessionBreakLength">Length of Break (in minutes)</label>
    <input type="number"
           class="form-control"
           id="sessionBreakLength"
           placeholder="1"
           ng-model="MainCtrl.session.breakLength">
  </div>
  <div class="form-group">
    <label for="sessionBreakYouTubeId">YouTube ID for break music (after the `?v=` in the URL)</label>
    <input type="text"
           class="form-control"
           id="sessionBreakYoutubeId"
           placeholder="dwH1daa8NY8"
           max-length="15"
           ng-model="MainCtrl.session.breakYouTubeId">
  </div>
</form>
